*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Serif', serif;
}
/* header-navigation section styles */
.header-nav-container{
    display: flex;
    justify-content: space-around;
    background-color: #c4b6b6;
    padding: 10px;
}
.header-nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-title{
    color: red;
    font-weight: 700;
    font-size: 14px;
}
.header-navbar{
    color: white;
}
.nav-items{
    display: flex;
    list-style-type: none;
}
.item{
    margin: 8px;
    padding: 10px;
}
/* header-banner section styles */
.header-banner-container{
    width: 100%;
    height: 100vh;
    background-image: url(../asset/image/background.jpg), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.banner-box{
    padding: 15px;
}
.primary-color{
    color: red;
}
.header-banner-title{
    font-weight: 700;
    font-size: 75px;
    margin-bottom: 10px;
}
.header-banner-description{
    padding: 10px 300px;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}
.header-banner-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.discover-btn{
    background-color: red;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 12px;
    height: 60px;
}
.hire-btn{
    background-color: white;
    color: red;
    font-size: 18px;
    border: 0;
    padding: 12px;
    height: 60px;
}